.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 2rem 4rem rgba($color-black,0.5);
    background-color: $color-gray-light-1;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 1.6rem;
    transform: skewX(-12deg);

    @include respond(tab-port){
        padding: 4rem;
        padding-left: 7rem;
        width: 100%;
    }
    @include respond(phone-xl-big){
        transform: skewX(0);
    }

    &__shape{
        height: 15rem;
        width: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        
        @include respond(phone-xl-big){
            transform: translateX(-3rem) skewX(0);
        }
    }
    
    
    &__image{
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all 0.5s;
    }

    &__text{
        transform: skewX(12deg);
        
        @include respond(phone-xl-big){
            transform: skewX(0);
        }
    }

    &__caption{
        position: absolute;
        top: 80%;
        left:50%;
        transform: translate(-50%,-50%);
        color: $color-white;
        text-align: center;
        font-size: 1.6rem;
        text-transform: uppercase;
        transition: all .5s;
        opacity: 0;
        backface-visibility: hidden;
    
    }
    &:hover &__caption{
        top: 50%;
        opacity: 1;
    }

    &:hover &__image{
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}